body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#accueil {
    width: 30%;
    margin: auto;
    border: solid 1px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.select-tab, #affiche {
    width: 60%;
    margin: auto;
}

/* PARTIE RESPONSIVE */

@media screen and (max-width: 768px) {
    #accueil {
        width: 100%;
    }
}